body {
    background-color: #1cb235!important;
    height: 100%;
    width: 100%;
    background: url(https://i.ibb.co/PtFPfFz/1011.jpg);
     /* Full height */
    height: 100%;

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#portContainer {
    border-radius: 5%;
}

#imgMe {
    background: #1cb23500;
    border-radius: 50%;
    height: 50%;
    width: 40%;
}

#portBody {
    color: #1cb235!important;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.portSection {
}

#portText .portSection h3.section-title {
    visibility: hidden;
    padding: 0px;
}

.portSection .vtbegenerated{
  background: rgb(0, 0, 0, 0.75);
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 0px 0px 10px;
}