body {
    background-color: rgb(255, 187, 0)!important;
    height: 100%;
    width: 100%;
    background: url(https://imgur.com/eBc2J3u);
}

#portContainer {
    border-radius: 5%;
}

#portBody {
    color: black!important;
    background-color: rgba(0,0,0,0);
    border: none;
}

.portSection {

}