body {
    background-color: rgb(255, 187, 0)!important;
    height: 100%;
    width: 100%;
    background: url(https://i.ibb.co/DbSft0H/pngguru-com.png);
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#portContainer {
    border-radius: 5%;
}

#imgMe {
    border: 2px solid black;
    background: rgb(255, 187, 0);
    border-radius: 50%;
    height: 50%;
    width: 40%;
}

#portBody {
    color: whitesmoke!important;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.portSection {
}

#portText .portSection h3.section-title {
    visibility: hidden;
    padding: 0px;
}

#portText h2, #portText h3 {
    visibility: hidden;
    padding: 0px;
}

.portSection .vtbegenerated{
  background: black;
  border-radius: 10%;
  border: none;
  padding: 10px;
  margin: 0px 0px 10px;
}